.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;

  .actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;

    button {
      padding: 0.5rem;
    }
  }
}
